<div class="add-box">
  <div class="add-div">
  <div class="add-field add-name">
    <mat-form-field class="name-field">
      <input matInput placeholder="Nazwa" [(ngModel)]="place.name" required>
    </mat-form-field>
  </div>
  <div class="add-field add-description">
    <mat-form-field class="description-field">
      <textarea matInput placeholder="Opis" [(ngModel)]="place.description" required></textarea>
    </mat-form-field>
  </div>
  <div class="add-field add-category">
    <mat-form-field class="category-field">
      <mat-select placeholder="Kategoria" [(ngModel)]="place.category" name="category" [formControl]="categoryControl"
                  required>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="categoryControl.hasError('required')">Proszę wybrać kategorię</mat-error>
    </mat-form-field>
  </div>
  <div class="add-field add-img">
    <input type="file" (change)="readImage($event)">
  </div>
  </div>
  <div class="add-div">
    <div class="add-field add-coordinates">
      <agm-map [latitude]="place.lat" [longitude]="place.lng" [zoom]=14 (mapClick)="onChoseLocation($event)">
        <agm-marker *ngIf="locationChosen" [latitude]="place.lat" [longitude]="place.lng"></agm-marker>
      </agm-map>
    </div>
  </div>
  <div style="clear: both"></div>
  <div class="add-field add-buttons">
    <button mat-button [disabled]="!place.category  || !place.name || !place.description || !locationChosen"
            (click)="addPlace()">Dodaj
    </button>
    <button mat-button (click)="clear()">Wyczyść</button>
  </div>
</div>
