.add-box {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 20px;
}

.add-div {
  float: left;
  width: 50%;
}

.add-field {
  width: 95%;
  margin-bottom: 20px;
}

.name-field, .description-field, .category-field, .website-link-field {
  width: 100%;
  margin: 5px 0;
}

.description-field textarea {
  height: 100px;
}

.add-img {
  margin: 10px 0;
}

.add-coordinates {
  height: 100%;
}

agm-map {
  height: 470px;
  width: 100%;
}

.add-buttons {
  margin-top: 40px;
  border-top: 1px solid #888b8f;
}
