<div class="place-detail-div">
  <mat-card class="place-detail">
    <mat-card-header>
      <mat-card-title>{{place.category.name}}</mat-card-title>
      <mat-card-subtitle>{{place.name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="content-div">
        <div class="content-media content-image">
          <img mat-card-image *ngIf=place.image src="assets/images/{{place.image}}" alt={{place.name}}>
        </div>
        <div class="content-media content-map">
          <agm-map [latitude]="place.lat" [longitude]="place.lng" [zoom]=14>
            <agm-marker [latitude]="place.lat" [longitude]="place.lng"></agm-marker>
          </agm-map>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="content-div content-website-link" *ngIf="place.websiteLink">
        <a target="_blank" href="{{place.websiteLink}}" >{{place.websiteLink}}</a>
      </div>
      <div class="content-div content-desc">
        <p>{{place.description}}</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <!--<button mat-button *ngIf="canEdit" (click)="gotoPlaceEdit(place.placeId)">Edytuj</button>-->
      <button mat-button (click)="goBack()">Wróć</button>
    </mat-card-actions>
  </mat-card>
</div>
