@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";

.add-box {
  margin: auto;
  width: 60%;
  margin-top: 50px;
}

.add-field {
  width: 400px;
}

.name-field {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.add-coordinates {
  margin: 20px 0;
  width: 100%;
}

agm-map {
  height: 300px;
  width: 100%;
}

.places-list {
  width: 90%;
  min-height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.places-list-div {
  width: 100%;
}
.place-list-item {
  float: left;
}

.place-img {
  margin-right: 50px;
}

.place-img img {
  width: 100px;
  height: 90%;
}

.place-category {
  margin: 5px 0;
}
.place-category h6 {
  margin: 0;
  padding: 0;
  float: left;
}

.place-name {
  margin: 10px 0;
}

.place-name h4 {
  margin: 0;
  padding: 0;
  float: left;
}

.add-places {
  width: 100%;
}

.places-col {
  width: 50%;
  float: left;
}
