<div class="add-box">
  <div class="add-field add-name">
    <mat-form-field class="name-field">
      <input matInput placeholder="Nazwa" [(ngModel)]="route.name" required>
    </mat-form-field>
  </div>
  <div class="add-field add-coordinates">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]=13>
      <!--<agm-marker *ngFor="let place of route.places"
                  [latitude]="place.lat" [longitude]="place.lng">
      </agm-marker>
      <agm-polyline [strokeColor]="'#2196f3'">
          <agm-polyline-point *ngFor="let place of route.places" [latitude]="place.latitude" [longitude]="place.longitude"></agm-polyline-point>
      </agm-polyline>-->
      <agm-direction *ngFor="let place of route.places; let i = index" [origin]="route.places[i]"
                     [destination]="route.places[i+1]">
      </agm-direction>
      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>
    </agm-map>
  </div>
  <div class="add-field">
    <mat-form-field class="category-field">
      <mat-select placeholder="Kategoria"  name="category" [(ngModel)]="selectedCategory" (change)="filerPlaces()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="add-field add-places">
    <p-pickList [source]="filterPlaces" [target]="route.places" sourceHeader="Dostępne miejsca" targetHeader="Wybrane miejsca"
                [responsive]="true" filterBy="name" dragdrop="true" dragdropScope="filterPlaces"
                sourceFilterPlaceholder="Nazwa" [showSourceFilter]="true" [showTargetFilter]="false"
                [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
      <ng-template let-place pTemplate="item">
        <div class="ui-helper-clearfix">
          <img src="assets/images/{{place.image}}" style="display:inline-block;margin:2px 0 2px 2px" width="48">
          <div style="font-size:14px;float:right;margin:15px 5px 0 0">
            <span>{{place.name}} - {{place.category.name}}</span>
            <i class="fa fa-info fa-lg hover-element" aria-hidden="true" (click)="gotoPlaceDetail(place)"></i>
          </div>
        </div>
      </ng-template>
    </p-pickList>
  </div>
  <div>
    <button mat-button [disabled]="!route.name"
            (click)="editRoute()">Dodaj
    </button>
    <button mat-button (click)="clear()">Wyczyść</button>
  </div>
</div>
