<div class="registration-box">
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Rejestracja</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field style="width: 100%">
          <input matInput [(ngModel)]="user.name" name="name" placeholder="Imię" type="text">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput [(ngModel)]="user.email" name="email" placeholder="Email" type="email">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput [(ngModel)]="user.account.login" name="login" placeholder="Login" type="text">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput [(ngModel)]="user.account.password" name="password" placeholder="Hasło" type="password">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput [(ngModel)]="password" name="reapeatPassword" placeholder="Powtórz hasło" type="password">
        </mat-form-field>
        <button mat-raised-button type="submit">Zarejestruj się</button>
      </form>
      <br>
      <div *ngIf="errors" label="Error!" sublabel="Wrong login / password." color="warn"
           icon="error"></div>
    </mat-card-content>
  </mat-card>
</div>
