<div class="registration-box">
  <mat-card>
    <mat-card-title>
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Edytuj konto</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="editUserForm">
        <mat-form-field style="width: 100%">
          <input matInput formControlName="name" [(ngModel)]="user.name" name="name" placeholder="Imię" type="text">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput formControlName="email" [(ngModel)]="user.email" name="email" placeholder="Email" type="email">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput formControlName="login" [(ngModel)]="user.account.login" name="login" placeholder="Login" type="text">
        </mat-form-field>
        <label style="float: left; padding-bottom: 5px;">Zmiana hasła</label>
        <mat-form-field style="width: 100%">
          <input matInput formControlName="currentPassword" [(ngModel)]="user.account.currentPassword" name="currentPassword" placeholder="Obecne hasło"
                 type="password">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput formControlName="password" [(ngModel)]="user.account.password" name="password" placeholder="Hasło" type="password">
        </mat-form-field>
        <mat-form-field style="width: 100%">
          <input matInput formControlName="repeatPassword" [(ngModel)]="repeatPassword" name="repeatPassword" placeholder="Powtórz hasło" type="password">
        </mat-form-field>
        <!--<div class="button-row avatar-upload">
          <button mat-button color="white" mat-mini-fab (click)="imgFileInput.click()">
            <i class="fa fa-upload" aria-hidden="true"></i>
          </button>
          <input hidden type="file" #imgFileInput (change)="readImage($event)"/>
        </div>-->
        <footer>
          <button mat-raised-button type="submit"(click)="editUserAccount()">Edytuj</button>
          <button mat-raised-button (click)="deleteAccount()">Usuń</button>
        </footer>
      </form>
      <br>
      <div *ngIf="errorMessages.length > 0" label="Error!" icon="error" style="color: red">{{errorMessages}}</div>
    </mat-card-content>
  </mat-card>
</div>
