.add-box .add-form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.add-field {
  float: left;
  margin-right: 20px;
}

.add-name {
  width: 50%;
}

.name-field {
  width: 95%;
}

.add-img {
  width: 30%;
  margin-top: 20px;
}
